{{ 'delivery-steps.css'| asset_url | stylesheet_tag }}
<style>
  .delivery-steps-items {
    grid-template-columns: repeat({{ section.blocks.size }},1fr);
  }
  @media (min-width:768px){
    .delivery-steps-main-{{ section.id }}{
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
  @media (max-width:767px){
    .delivery-steps-main-{{ section.id }}{
      padding-top: {{ section.settings.padding_top_m }}px;
      padding-bottom: {{ section.settings.padding_bottom_m }}px;
    }
  }
</style>

<div class="delivery-steps-main delivery-steps-main-{{ section.id }}">
  <div class="custom-page-width">
    <div class="delivery-steps-flex">
      <div class="delivery-steps-header">
        {% if section.settings.caption != blank %}
          <span class="delivery-steps-caption">{{ section.settings.caption }}</span>
        {% endif %}
        {% if section.settings.heading != blank %}
          <h2 class="delivery-steps-heading">{{ section.settings.heading }}</h2>
        {% endif %}
        {% if section.settings.content != blank %}
          <div class="delivery-steps-content">{{ section.settings.content }}</div>
        {% endif %}
      </div>
      <div class="delivery-steps-items">
        {% for block in section.blocks %}
          <div class="delivery-step-item">
            <div class="delivery-step-item-img">
              {% if block.settings.image != blank %}
                <img class="delivery-step-image" src="{{ block.settings.image | image_url }}" width="auto" height="autp" alt="{{ block.settings.heading }}" loading="lazy" fetchpriority="high">
              {% else %}
                {%- capture placeholder_image -%}{% cycle 'placeholder': 'lifestyle-1', 'lifestyle-2' %}{%- endcapture -%}
                {{- placeholder_image | placeholder_svg_tag: 'placeholder' | replace: '<svg', '<svg preserveAspectRatio="xMinYMin slice"' -}}
              {% endif %}
            </div>
            <div class="delivery-step-item-content">
              {% if block.settings.step != blank %}
                <span class="delivery-step-text">{{ block.settings.step }}</span>
              {% endif %}
              {% if block.settings.heading != blank %}
                <h3 class="delivery-step-item-heading">{{ block.settings.heading }}</h3>
              {% endif %}
              {% if block.settings.content != blank %}
                <div class="delivery-step-item-richtext">{{ block.settings.content }}</div>
              {% endif %}
              {% if block.settings.text != blank %}
                <div class="delivery-step-item-icon-text">
                   {% if block.settings.text != blank %}
                     <img src="{{ block.settings.icon | image_url }}" width="auto" height="autp" alt="{{ block.settings.text }}" loading="lazy" fetchpriority="high">
                   {% endif %}
                    {{ block.settings.text }}
                </div>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Delivery Steps",
    "settings": [
      {
        "type": "text",
        "id": "caption",
        "label": "Caption",
        "default":"Schnell & einfach"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default":"So funktioniert’s"
      },
      {
        "type": "richtext",
        "id": "content",
        "label": "Content",
        "default":"<p>Von der Anfrage bis zur Lieferung – so wirst Du in wenigen Schritten Cannabis-Patient.</p>"
      },
      {
        "type": "header",
        "content": "Paddings"
      },
      {
        "type": "range",
        "id":"padding_top",
        "label": "Top",
        "min": 0,
        "max": 200,
        "step": 2,
        "default": 80,
        "unit": "px"
      },
      {
        "type": "range",
        "id":"padding_bottom",
        "label": "Bottom",
        "min": 0,
        "max": 200,
        "step": 2,
        "default": 80,
        "unit": "px"
      },
      {
        "type": "header",
        "content": "Paddings (Mobile)"
      },
      {
        "type": "range",
        "id":"padding_top_m",
        "label": "Top",
        "min": 0,
        "max": 200,
        "step": 2,
        "default": 40,
        "unit": "px"
      },
      {
        "type": "range",
        "id":"padding_bottom_m",
        "label": "Bottom",
        "min": 0,
        "max": 200,
        "step": 2,
        "default": 40,
        "unit": "px"
      }
    ],
    "blocks": [
      {
        "type": "step",
        "name":"Step",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "step",
            "label": "Step",
            "default":"Schritt 1"
          },
          {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default":"Anliegen beschreiben"
          },
          {
            "type": "richtext",
            "id": "content",
            "label": "Content",
            "default":"<p>Fülle online kurz Dein Anliegen, Symptome und Gesundheitszustand aus – schnell & bequem von zu Hause.</p>"
          },
          {
            "type": "header",
            "content": "Icon-Text"
          },
          {
            "type": "image_picker",
            "id": "icon",
            "label": "Icon"
          },
          {
            "type": "text",
            "id": "text",
            "label": "Text",
            "default":"Keine Wartezimmer, keine Bürokratie."
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Delivery Steps",
        "blocks": [
          {
            "type": "step"
          },
          {
            "type": "step"
          },
          {
            "type": "step"
          }
        ]
      }
    ]
  }
{% endschema %}